#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
}

.logo {
  padding: 0;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


.navbar-container {
  width: 1617px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 16px;
  /* outline: 1px solid lime; */
}
.navbar-logo img {
  width: 300px;
  height: 60px;
}
.nav-links ul {
  display: flex;
  flex-direction: row;
  gap: 16px;
  list-style: none;
  position: absolute;
  right: 0;
  top: 22px;
  z-index: 100;
}
.nav-item a {
  color: white;
  text-transform: uppercase;
  font-weight: 500;
  padding: 12px 40px;
}
.nav-item a:hover {
  color: #fff;
  text-shadow: 0 0 5px #7532a8,
              0 0 25px #7532a8,
              0 0 50px #7532a8,
              0 0 100px #7532a8;
}
.nav-light {
  width: 1260px;
  height: 60px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 99;
}